.anclaLogin
{
    color: #FFFFFF;
}

.anuncioDiv
{
    /*margin: 0 auto;*/
    float: right;
    text-align: right;    
    width: 500px;
}

.anuncioP
{
    font-size: 14.5px;    
}

.anuncioH4
{
    font-size: 21px; 
    word-wrap:break-word;
    /*width: 150px;   */
    
}

.anuncioTable
{
    
    width: 70%;
    margin: 0 auto; 
}

.dashboardP
{
    font-size: 18px;
}


.dashboardTable {
 margin: 0 auto;
 border-collapse: seperate;
 border-spacing: 20px;
}


.dashboardTable td{
    padding: 20px;
    text-align: center;
}

.dashboardTable th{
    font-size: 20px;
}

.ww
{
    word-wrap:break-word;
}


.floatRight
{
    float: right;    
}


.fbLgn
{
    padding-left: 180px;    
}